# LaTeX auxiliary file
*.aux
*.log
*.out
*.gz
*.synctex
*.synctex(busy)
*.toc

# LaTeX minted package
_minted*/

# Maven project
target/
.classpath
.factorypath
.project
.settings/

# vscode
.vscode/

# Test data
test-data/*.dem

# Project configuration
config.yml
